.s-main-nav {

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      display: inline-block;

      a {
        display: block;
        color: currentColor;
        padding: 0.75rem 1rem;
        font-size: 0.707em;
        line-height: 1.5em;
        font-weight: 500;
        transition: all 0.25s var(--ease-out-quad);

        &:hover,
        &:focus {
          text-decoration: none;
          background-color: darken($bg-color--shade, 5%);
        }

        &:active {
          background-color: darken($bg-color--shade, 10%);
        }

        @media only screen and (max-width: ($screen-sm - 1)) {
          padding: 0.75rem 0.5rem;
        }
      }
    }
  }
}
