.s-promo {
  position: relative;
  color: #fff;
  padding: 1rem;

  &__container {
    position: relative;
    z-index: 2;
    padding-top: 15rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1300px;
    margin: auto;

    @media only screen and (min-width: $screen-xs) {
      padding-bottom: 5rem;
    }
  }

  &__title {
    font-size: 1.999em;
    line-height: 1.2em;
    margin-bottom: 0.75rem;
    max-width: 8em;

    @media only screen and (min-width: $screen-lg) {
      font-size: 2.827em;
      line-height: 1.1em;
      margin-bottom: 1rem;
    }
  }

  &__desc {
    margin-top: 0;
    margin-bottom: 1.5rem;
    max-width: 35em;

    @media only screen and (min-width: $screen-lg) {
      margin-bottom: 2.25rem;
    }
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;

    &::after {
      position: absolute;
      z-index: 2;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($text-color, 0.25);
    }

    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      z-index: 1;
      will-change: transform;
    }
  }
}