mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header()
      div header content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods, role='banner')&attributes(attributes)
    .s-page-header__top
      .s-page-header__top-container
        +logo('/').s-page-header__logo
          img(src='img/logo.svg', alt='/', width='141', height='41')
        .s-page-header__feedback
          ul
            li: a(href='tel:') +7 (812) 432-98-21
            li: a(href='mailto:') silkkon@info.ru
          +btn('', 'ghost, with-icon').s-page-header__call-back
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 22 18', width='22', height='18')
              path(fill-rule='evenodd', d='M3.3 8.8154H2.1c-.386 0-.7-.314-.7-.7V2.7496c0-.386.314-.7.7-.7h9.9244c.3866 0 .7-.3134.7-.7 0-.386603-.3134-.700003-.7-.700003H2.1C.942.649597 0 1.5916 0 2.7496v5.3658c0 1.158.942 2.1 2.1 2.1h1.2c.3866 0 .7-.3134.7-.7 0-.3866-.3134-.7-.7-.7zm16.6-3.8708h-7.8756c-.3866 0-.7.3134-.7.7v2.77561c0 .2178-.1774.3952-.3954.3952H7.7376c-.00859 0-.01685.00114-.02508.00229-.00635.00088-.01268.00176-.01912.00211-.0268.0016-.0536.0032-.0802.008-.01747.00316-.03411.00784-.05084.01255l-.01016.00285-.00343.00093-.00001.00001c-.02224.00607-.04429.0121-.06616.02066-.0197.0078-.03819.01733-.05692.02699l-.00428.00221-.00588.00296c-.0182.00916-.03619.01822-.05352.02923-.02024.01281-.03857.02769-.05709.04271l-.00431.0035c-.00511.00411-.01038.00779-.01564.01145l-.00002.00002c-.00751.00523-.01501.01046-.02194.01693L4.1846 11.8408c-.2842.2622-.302.7048-.0398.989.1378.1496.326.2254.5146.2254.1698 0 .3398-.0614.4744-.1856l2.87719-2.6544h2.91821c.9898 0 1.7954-.80519 1.7954-1.79519V6.3446H19.9c.386 0 .7.314.7.7v5.366c0 .386-.314.7-.7.7h-1.2c-.3866 0-.7.3134-.7.7 0 .3866.3134.7.7.7h1.2c1.158 0 2.1-.942 2.1-2.1v-5.366c0-1.158-.942-2.1-2.1-2.1zm-5.3848 8.3348c.0074.0052.0149.0104.0218.0168l3.0788 2.84c.2842.262.302.7048.0398.989-.1378.1496-.326.2254-.5146.2254-.1698 0-.3398-.0614-.4744-.1856l-2.8774-2.6542H11.071c-.99 0-1.79524-.8056-1.79524-1.7954 0-.3866.3134-.7.7-.7.38664 0 .70004.3134.70004.7 0 .218.1774.3954.3952.3954h2.9916c.0099 0 .0194.0013.029.0027.0066.0009.0132.0018.02.0023l.0043.0003c.0233.0015.0465.003.0697.0071.0199.0035.0388.0089.0579.0144.0025.0007.0051.0015.0077.0022l.0044.0012c.0205.0056.041.0112.061.019.0206.0082.04.0181.0595.0282l.0043.0022c.0034.0018.0068.0035.0102.0052.016.0082.0318.0163.0472.026.0213.0136.0405.0292.0601.0451l.0019.0015c.005.004.0102.0076.0154.0112z', clip-rule='evenodd')
            | Заказать звонок
        +hamburger

    .s-page-header__bottom
      .s-page-header__bottom-container
        .s-page-header__catalog
          button.s-page-header__catalog-button(type='button')
            | Каталог
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 14 8', width='12', height='7')
              path(fill-rule='evenodd', d='M1.47237.233812L6.99208 5.78645 12.5423.233812c.7319-.750357 1.9822.480228 1.2198 1.230588l-6.25159 6.333c-.27446.27013-.73189.27013-.97586 0L.222053 1.4644C-.509842.71404.740479-.516545 1.47237.233812z', clip-rule='evenodd')
          .s-page-header__catalog-menu
            ul
              li: a(href='/') Внутренний кабель
              li: a(href='/') Бронированный кабель
              li: a(href='/') Воздушный кабель
        nav.s-page-header__nav.s-main-nav
          ul
            li: a(href='/') Техническая информация
            li: a(href='/') О нас
            li: a(href='/') Контакты
