.s-page-header {
  // position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $bg-color;
  z-index: 100;

  &__top {
    box-shadow: 0px 1px 1px rgba($text-color, 0.25);
    position: relative;
    z-index: 2;
    padding: 0.5rem 1rem;
  }

  &__top-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: auto;
  }

  &__logo {
    font-size: 1.414em;
    line-height: 1.2em;
    font-weight: 500;
    color: $text-color;
    flex-shrink: 1;

    img {

      @media only screen and (max-width: (375px - 1)) {
        max-width: 80px;
      }

      @media only screen and (min-width: 375px) and (max-width: ($screen-xs - 1)) {
        max-width: 100px;
      }
    }
  }

  &__info {
    display: flex;
    flex-flow: row nowrap;

    @media only screen and (min-width: $screen-sm) {
      align-items: baseline;
    }
  }

  &__feedback {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: auto;

    @media only screen and (min-width: $screen-xs) {
      align-items: baseline;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-right: 1rem;

      @media only screen and (max-width: ($screen-sm - 1)) {
        display: none;
      }

      li {
        margin: 0;
        padding: 0;
        display: inline-block;
        font-size: 0.707em;
        line-height: 1.5em;

        &:not(:last-child) {
          margin-right: 0.25rem;

          &::after {
            content: '/';
            display: inline-block;
            margin-left: 0.25rem;
            opacity: 0.25;
          }
        }

        a {
          color: currentColor;
          display: inline-block;
          font-weight: 500;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: currentColor;
            transform: scaleX(0);
            transition: transform 0.25s var(--ease-out-quad);
            transform-origin: right center;
          }

          &[href^='tel:'] {
            font-feature-settings: 'lnum'1, 'tnum'1;

            @supports (font-variant: common-ligatures) {
              font-feature-settings: normal;
              font-variant: lining-nums tabular-nums;
              font-kerning: normal;
            }
          }

          &:hover,
          &:focus {
            text-decoration: none;

            &::after {
              transform: scaleX(1);
              transform-origin: left center;
            }
          }
        }
      }
    }
  }

  &__call-back {

    @media only screen and (max-width: ($screen-xs - 1)) {
      padding: 0.5rem 0.75rem;
    }
  }

  &__bottom {
    background-color: $bg-color--shade;
    position: relative;
    z-index: 1;

    @media only screen and (min-width: $screen-xs) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &__bottom-container {
    width: 100%;
    max-width: 1300px;
    margin: auto;

    @media only screen and (min-width: $screen-xs) {
      display: flex;
      flex-flow: row wrap;
    }
  }

  &__catalog {
    position: relative;
  }

  &__catalog-button {
    font-size: 0.707em;
    line-height: 1.5em;
    background-color: $bg-color--shade;
    color: $text-color;
    padding: 0.75rem 1rem;
    font-weight: 500;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: all 0.25s var(--ease-out-quad);

    svg {
      display: inline-block;
      vertical-align: middle;
      margin-left: 1rem;
      transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 1.5);
    }

    &:hover,
    &:focus {
      outline: none;
    }

    @media only screen and (min-width: $screen-xs) {
      min-width: 7.5rem;
      background-color: $primary-color;
      padding: 0.75rem 1rem;
      color: #fff;

      &:hover,
      &:focus {
        background-color: darken($primary-color, 10%);
      }
    }

    @media only screen and (min-width: $screen-sm) {
      min-width: 12.5rem;
    }

    &--is-active {

      svg {
        transform: rotate3d(0, 0, 1, 180deg);
      }
    }
  }

  &__catalog-menu {
    left: -15px;
    right: -15px;
    background-color: $bg-color--shade;
    display: none;
    visibility: hidden;
    opacity: 0;

    @media only screen and (min-width: $screen-xs) {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      min-width: 15rem;
    }

    @media only screen and (min-width: $screen-sm) {
      min-width: auto;
      width: 100%;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;

        @media only screen and (max-width: ($screen-xs - 1)) {
          border-top: 1px solid rgba($text-color, 0.125s);
        }

        a {
          display: block;
          color: currentColor;
          padding: 0.75rem 1rem;
          font-size: 0.707em;
          line-height: 1.5em;
          font-weight: 500;
          transition: all 0.25s var(--ease-out-quad);
          opacity: 0.75;
          text-decoration: none;

          @media only screen and (min-width: $screen-xs) {
            opacity: 1;
            padding: 0.75rem 1rem;
            background-color: $primary-color;
            color: #fff;

            &:hover,
            &:focus {
              background-color: darken($primary-color, 10%);
            }
          }
        }
      }
    }

    &--is-open {
      display: block;
      visibility: visible;
      opacity: 1;
    }
  }

  &__nav {
    margin-left: auto;

    @media only screen and (max-width: ($screen-xs - 1)) {
      display: none;
    }
  }
}