.s-recommended {
  @include section-padding;
  background-color: $bg-color--shade;

  &__container {
    @include section-container;
  }

  &__title {
    @include section-title;
  }

  &__header {

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      align-items: end;
    }
  }

  &__slider {
    position: relative;
  }

  &__slider-nav {

    @media only screen and (max-width: ($screen-sm - 1)) {
      display: none;
    }
  }

  &__slider-btn {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid $primary-color;
    border-radius: 50px;
    position: relative;
    transition: all 0.25s var(--ease-out-quad);
    transform-origin: center center;
    will-change: transform;

    &:hover,
    &:focus {
      text-decoration: none;
      color: #fff;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-35%,-50%,0);
      fill: $text-color;
    }

    &--prev {
      transform: rotate3d(0,0,1,180deg);
      margin-right: 0.5rem;

      &:hover,
      &:focus {
        transform: rotate3d(0,0,1,180deg) scale(0.95);
      }

      &:active {
        transform: rotate3d(0,0,1,180deg) scale(0.9);
      }
    }

    &--next {

      &:hover,
      &:focus {
        transform: scale(0.95);
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }

  .swiper-pagination {
    position: relative;
    margin-top: 0.75rem;

    &.swiper-pagination-bullets,
    &.swiper-pagination-custom,
    &.swiper-pagination-fraction {
      bottom: 0;
    }

    @media only screen and (min-width: $screen-sm) {
      display: none;
    }
  }
}