.s-categories {

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba($text-color, 0.125);

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
    }
  }

  &__item {
    margin: 0;
    padding: 0;

    @media only screen and (min-width: $screen-sm) {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba($text-color, 0.125);

      @media only screen and (min-width: $screen-sm) {
        border-bottom: 0;
        border-right: 1px solid rgba($text-color, 0.125);
      }
    }

    &:nth-child(even) {

      .s-categories__card {
        background-color: $bg-color--shade;
      }
    }
  }

  &__card {
    display: block;
    color: $text-color;
    padding: 1.5rem;
    position: relative;
    min-height: 240px;
    overflow: hidden;

    @media only screen and (min-width: $screen-md) {
      min-height: 450px;
      padding: 3rem;
    }

    &::after {
      position: absolute;
      content: attr(data-number);
      font-size: 11.302em;
      line-height: 1em;
      font-weight: 600;
      word-break: keep-all;
      opacity: 0.05;
      top: 50%;
      right: 50%;
      transition: all 0.5s var(--ease-out-quad);
      transform: translate3d(75%,-50%,0);

      @media only screen and (max-width: ($screen-md - 1)) {
        font-size: 7.993em;
      }
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: $primary-color;

      .s-categories__card-cover img {
        transform: scale(1.05);
      }

      .s-categories__card-btn::after {
        transform: scaleX(0);
        transform-origin: right center;
      }
    }
  }

  &__card-caption {
    font-size: 0.5em;
    line-height: 1.2em;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $primary-color;
    font-weight: 600;
    display: block;
  }

  &__card-title {
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 500;
    text-indent: -0.1em;

    @media only screen and (min-width: $screen-lg) {
      font-size: 1.414em;
      line-height: 1.2em;
    }
  }

  &__card-btn {
    font-size: 0.707em;
    line-height: 1.5em;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    font-weight: 500;

    @media only screen and (min-width: $screen-sm) {
      bottom: 3rem;
      left: 3rem;
    }

    &::before {
      position: absolute;
      content: '';
      top: -0.5rem;
      right: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: currentColor;
      transform: scaleX(1);
      transition: transform 0.5s var(--ease-out-quad);
      transform-origin: left center;
    }
  }

  &__card-cover {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate3d(0, -50%, 0);
    width: 50%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center center;
      transition: all 0.5s var(--ease-out-quad);
      transform-origin: center center;
      will-change: transform;
    }
  }
}