.s-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: $transition-timing--linear;
  transition-delay: 0s;
  pointer-events: none;
  overflow-y: scroll;

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: $text-color;
    padding: 0;
    display: flex;
    z-index: 1000;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: transparent;
    border: 1px solid rgba($text-color, 0.25);

    svg {
      fill: currentColor;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    &::before {
      position: absolute;
      content: '';
      top: -1rem;
      right: -1rem;
      bottom: -1rem;
      left: -1rem;
    }
  }

  &__inner {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5rem 1rem 1.5rem 1rem;
    overflow-y: scroll;
  }

  &__list {
    text-align: right;
    font-weight: 500;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    li {

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      a {
        display: inline-block;
        color: $text-color;
        max-width: 12.5rem;

        &:hover,
        &:focus {
          text-decoration: none;
          color: $text-color;
        }
      }
    }

    &--rubricks {
      font-size: ms(0);
      line-height: 1.1em;
    }

    &--pages {
      font-size: ms(-1);
      line-height: 1.2em;

      li {

        a {
          position: relative;
          display: inline-block;
        }
      }
    }
  }

  &--is-active {
    opacity: 1;
    pointer-events: all;
  }
}