.s-btn {
  position: relative;
  display: inline-block;
  background-color: $secondary-color;
  background-image: none;
  color: #fff;
  margin: 0;
  padding: 0.7rem 1rem 0.8rem;
  border: 1px solid $secondary-color;
  border-radius: $border-radius;
  font-size: 0.707em;
  font-weight: 500;
  line-height: 1.4em;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  transition: all 0.25s var(--ease-out-quad);
  transform-origin: center center;
  will-change: transform;

  @media only screen and (max-width: ($screen-xs - 1)) {
    width: 100%;
  }

  &:hover,
  &:focus {
    transform: scale(0.95);
    text-decoration: none;
    color: #fff;
  }

  &:active {
    transform: scale(0.9);
  }

  &--ghost {
    background-color: transparent;
    border: 1px solid $secondary-color;
    color: $text-color;

    &:hover,
    &:focus {
      transform: none;
      background-color: $secondary-color;
      color: #fff;
    }

    &:active {
      transform: none;
    }
  }

  &--with-icon {

    svg {
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.75rem;

      @media only screen and (max-width: ($screen-sm - 1)) {
        display: none;
      }
    }
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;

    @at-root a.s-btn--disabled {
      pointer-events: none;
    }
  }
}