.s-product-page-layout {
  padding: 6.6rem 1rem 2.25rem;

  &__container {
    @include section-container;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      padding-top: 2.25rem;
    }
  }

  &__filter {

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 25%;
      max-width: 25%;
      padding-right: 1rem;
    }
  }

  &__content {
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 75%;
      max-width: 75%;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &__promo {

    @media only screen and (min-width: $screen-md) {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
  }

  &__cover {
    background-color: $bg-color--shade;
    width: 100%;
    height: 300px;
    margin-bottom: 0.75rem;
    position: relative;

    @media only screen and (min-width: $screen-md) {
      flex: 0 0 50%;
      max-width: 50%;
      height: auto;

      &:before {
        display: block;
        content: '';
        width: 100%;
        padding-top: 100%;
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media only screen and (min-width: $screen-md) {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &__title {
    font-size: 1.414em;
    line-height: 1.2em;
    margin-bottom: 0.75rem;
  }

  &__desc {
    font-size: 0.707em;
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  &__intro {

    @media only screen and (min-width: $screen-md) {
      flex: 0 0 50%;
      max-width: 50%;
      padding-left: 1.5rem;
    }
  }

  &__tabs {

  }
}