.s-tabs {
  margin-top: 2.25rem;

  &__nav {
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 2rem;
    }
  }

  &__list.nav-tabs {
    border-bottom: 1px solid rgba(#9cb3c1, 0.5);
    display: flex;
    flex-flow: row nowrap;

    @media only screen and (max-width: ($screen-md - 1)) {
      border-bottom: 0;
      overflow-x: scroll;
    }
  }

  &__item.nav-item {
    margin-left: 0;
    white-space: nowrap;

    @media only screen and (max-width: ($screen-md - 1)) {
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }

  &__link.nav-link {
    font-size: 0.707em;
    line-height: 1.5em;
    font-weight: 500;
    color: $text-color;
    padding: 0.7rem 1.125rem 0.8rem;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border-radius: $border-radius;

    @media only screen and (max-width: ($screen-md - 1)) {
      border: 1px solid rgba($text-color, 0.125);
      background-color: $bg-color--shade;
    }

    @media only screen and (max-width: ($screen-lg - 1)) {
      padding: 0.45rem 1.125rem 0.5rem;
    }

    &.active[aria-selected='true'] {
      background-color: $primary-color;
      color: #fff;
      border: 1px solid $primary-color;
    }
  }
}