mixin product-card()

  a.s-product-card(href='/')
    .s-product-card__cover
      img(src='img/cable-example.png', alt='', width='295', height='295')
      .s-product-card__layer
        .s-product-card__layer-btn Узнать подробнее
    .s-product-card__info
      h3.s-product-card__title Product title
      ul.s-product-card__desc-list
        li.s-product-card__desc-item
          span.s-product-card__desc-term Тип волокон:
          span.s-product-card__desc-desc одномод или многомод
        li.s-product-card__desc-item
          span.s-product-card__desc-term Кол-во волокон:
          span.s-product-card__desc-desc от 2 до 96
        li.s-product-card__desc-item
          span.s-product-card__desc-term Назначение:
          span.s-product-card__desc-desc внутренний