.s-product-card {
  display: block;
  color: $text-color;
  transition: all 0.5s var(--ease-out-quad);
  transform-origin: center center;
  will-change: transform;
  position: relative;
  margin: 0;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color;

    @media only screen and (min-width: $screen-md) {

      .s-product-card__layer {
        opacity: 1;
      }
    }
  }

  &__cover {
    position: relative;
    background-color: $bg-color;
    overflow: hidden;
    z-index: 1;

    &:before {
      display: block;
      content: '';
      width: 100%;
      padding-top: 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-size: 0.707em;
    line-height: 1.5em;
    margin-bottom: 0.5rem;
  }

  &__info {
    padding-top: 1rem;
    position: relative;
    z-index: 2;
  }

  &__desc-list {
    font-size: 0.707em;
    line-height: 1.5em;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__desc-item {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 0.125rem;
    }
  }

  &__desc-term {
    font-weight: 500;
    opacity: 0.75;
  }

  &__desc-desc {
    opacity: 0.5;
  }

  &__layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($primary-color, 0.9);
    transition: all 0.5s var(--ease-out-quad);
    transform-origin: center center;
    will-change: opacity;
    z-index: 3;
    opacity: 0;
  }

  &__layer-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    display: inline-block;
    background-color: transparent;
    background-image: none;
    color: #fff;
    margin: 0;
    padding: 0.75rem 1rem;
    border: 1px solid currentColor;
    border-radius: $border-radius;
    font-size: 0.707em;
    font-weight: 500;
    line-height: 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    cursor: pointer;
    touch-action: manipulation;
    user-select: none;
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;
    z-index: 1;
  }
}