.s-page-footer {
  background-color: $bg-color--dark;
  color: #fff;
  padding: 2.25rem 1rem;

  @media only screen and (min-width: $screen-sm) {
    padding: 4.5rem 1rem;
  }

  &__container {
    @include section-container;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
    }
  }

  &__intro {
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    @media only screen and (min-width: $screen-md) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  &__logo {
    font-size: 1.414em;
    line-height: 1.2em;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0.5rem;
  }

  &__slogan {
    font-size: 0.707em;
    line-height: 1.5em;
    margin-top: 0.5rem;
    max-width: 25em;
    opacity: 0.5;
  }

  &__block {
    border-top: 1px solid rgba(#fff, 0.125);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      margin-right: 1rem;
    }

    @media only screen and (min-width: $screen-md) {
      flex: 0 0 25%;
      max-width: 25%;
      margin-right: 0;
      border-top: none;
      padding-top: 0;
      padding-bottom: 0;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;
        font-size: 0.707em;
        line-height: 1.5em;

        &:not(:last-child) {
          margin-bottom: 0.125rem;
        }

        a {
          display: block;
          padding: 0.25rem 0;
          color: currentColor;
          opacity: 0.75;
          position: relative;

          @media only screen and (min-width: $screen-sm) {
            display: inline-block;
          }

          @media only screen and (min-width: $screen-md) {
            padding: 0.125rem 0;

            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              height: 1px;
              width: 100%;
              background-color: currentColor;
              transform: scaleX(0);
              transition: transform 0.25s var(--ease-out-quad);
              transform-origin: right center;
            }
          }

          &[href^='tel:'] {
            font-feature-settings: 'lnum'1, 'tnum'1;

            @supports (font-variant: common-ligatures) {
              font-feature-settings: normal;
              font-variant: lining-nums tabular-nums;
              font-kerning: normal;
            }
          }

          &:hover,
          &:focus {
            text-decoration: none;

            @media only screen and (min-width: $screen-md) {

              &::after {
                transform: scaleX(1);
                transform-origin: left center;
              }
            }
          }
        }

        address {
          opacity: 0.75;
        }
      }
    }
  }

  &__block-title {
    font-size: 0.707em;
    line-height: 1.5em;
    font-weight: 500;
    margin-bottom: 0.75rem;
  }

  &__copyright {
    opacity: 0.5;
    font-size: 0.5em;
    line-height: 1.5em;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 100%;
      max-width: 100%;
      padding-top: 2.25rem;
    }

    @media only screen and (min-width: $screen-lg) {
      padding-top: 4.5rem;
    }
  }
}