mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .s-page-footer__container
      .s-page-footer__intro
        +logo('/').s-page-footer__logo
          img(src='img/logo--white.svg', alt='/', width='141', height='41')
        p.s-page-footer__slogan Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nostrum, nihil facilis perspiciatis fugit quo!
      .s-page-footer__block.s-page-footer__block--nav
        h3.s-page-footer__block-title Информация
        ul
          li: a(href='/') Внутренний кабель
          li: a(href='/') Бронированный кабель
          li: a(href='/') Воздушный кабель
          li: a(href='/') Техническая информация
          li: a(href='/') О нас
          li: a(href='/') Контакты
      .s-page-footer__block.s-page-footer__block--contacts
        h3.s-page-footer__block-title Контакты
        ul
          li: a(href='tel:') +7 (812) 432-98-21
          li: a(href='mailto:') silkkon@info.ru
          li: address Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, recusandae.
      .s-page-footer__copyright © 2020 — Sillkon