extends pug/layout.pug

block meta
  - var title = 'Главная';
  title= title
  meta(name='description', content='')

block header
  +page-header
  +mobile-menu

block content
  .s-promo
    .s-promo__container
      h1.s-promo__title Broken crayons still color
      p.s-promo__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum reiciendis quasi explicabo? Nihil alias, ipsum, minus.
      +btn('Подробнее о нас')(href='/')
    .s-promo__cover
      img.rellax(src='https://images.unsplash.com/photo-1512972972907-6d71529c5e92?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80', alt='')

  .s-categories
    ul.s-categories__list
      li.s-categories__item
        a.s-categories__card(href='/', data-number='01')
          span.s-categories__card-caption Some words
          h3.s-categories__card-title Внутренний кабель
          span.s-categories__card-btn Подробнее
          .s-categories__card-cover
            img(src='img/cable-example.png', alt='/')
      li.s-categories__item
        a.s-categories__card(href='/', data-number='02')
          span.s-categories__card-caption Some words
          h3.s-categories__card-title Бронированный кабель
          span.s-categories__card-btn Подробнее
          .s-categories__card-cover
            img(src='img/cable-example--alternative.png', alt='/')
      li.s-categories__item
        a.s-categories__card(href='/', data-number='03')
          span.s-categories__card-caption Some words
          h3.s-categories__card-title Воздушный кабель
          span.s-categories__card-btn Подробнее
          .s-categories__card-cover
            img(src='img/cable-example.png', alt='/')

  .s-briefly-about
    .s-briefly-about__container
      h2.s-briefly-about__title Broken crayons still color
      .s-briefly-about__text
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia adipisci unde corporis dolorem quis facilis error vero esse. Dicta aliquam porro repudiandae nihil animi perspiciatis est et facilis nobis iusto, ipsam expedita ea officia culpa sint laboriosam recusandae eum? Vero quia laborum rem, officiis ea, at corporis laboriosam id saepe, delectus explicabo sit. Veniam, vel! Rem quia vitae ab? Commodi accusantium eligendi illum est sequi modi dicta, necessitatibus quaerat doloribus. Sapiente dolor a assumenda omnis amet culpa dolorem, harum officia perferendis est molestiae ut tempore neque consequuntur corporis voluptatum et quas, earum facere delectus minima voluptates nemo maiores. Hic, dolores.

  .s-recommended
    .s-recommended__container
      .s-recommended__header
        h2.s-recommended__title Популярные позиции

        .s-recommended__slider-nav
          .s-recommended__slider-btn.s-recommended__slider-btn--prev
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 10 18', width='10', height='18')
              path(d='M.169547 17.8489c.100062.096.236033.1503.378122.1511.142521.0012.279296-.0534.378123-.1511L9.84192 9.36576C9.94306 9.27078 10 9.1412 10 9.00599c0-.1352-.05694-.26478-.15808-.35975L.925792.161313C.7923.0255402.59163-.0301949.40233.0159254.213031.0620457.0652128.202685.0167384.382791-.0317361.562898.0268433.753823.169547.880832L8.70755 9.00599.169547 17.1294c-.1006767.0952-.1572861.2247-.1572861.3597 0 .1351.0566094.2646.1572861.3598z')
          .s-recommended__slider-btn.s-recommended__slider-btn--next
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 10 18', width='10', height='18')
              path(d='M.169547 17.8489c.100062.096.236033.1503.378122.1511.142521.0012.279296-.0534.378123-.1511L9.84192 9.36576C9.94306 9.27078 10 9.1412 10 9.00599c0-.1352-.05694-.26478-.15808-.35975L.925792.161313C.7923.0255402.59163-.0301949.40233.0159254.213031.0620457.0652128.202685.0167384.382791-.0317361.562898.0268433.753823.169547.880832L8.70755 9.00599.169547 17.1294c-.1006767.0952-.1572861.2247-.1572861.3597 0 .1351.0566094.2646.1572861.3598z')

      .s-recommended__slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              +product-card
            .swiper-slide
              +product-card
            .swiper-slide
              +product-card
            .swiper-slide
              +product-card
            .swiper-slide
              +product-card
            .swiper-slide
              +product-card
            .swiper-slide
              +product-card
            .swiper-slide
              +product-card
            .swiper-slide
              +product-card
            .swiper-slide
              +product-card
          .s-recommended__slider-pagination.swiper-pagination

block footer
  +page-footer