extends pug/layout.pug

block meta
  - var title = 'Карточка товара';
  title= title
  meta(name='description', content='')

block header
  +page-header

block content
  .s-product-page-layout
    .s-product-page-layout__container

      .s-product-page-layout__filter
        +filter()

      .s-product-page-layout__content
        .s-product-page-layout__promo
          .s-product-page-layout__cover
            img(src='img/cable-example.png', alt='/')
          .s-product-page-layout__intro
            h1.s-product-page-layout__title Product title
            p.s-product-page-layout__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam molestias quia minima, aspernatur assumenda aliquid maxime aliquam quam quae nemo doloribus dolorum explicabo quasi!
            +btn('Задать вопрос')

        .s-product-page-layout__tabs.s-tabs
          .s-tabs__nav
            ul.s-tabs__list.nav.nav-tabs(role='tablist')
              li.s-tabs__item.nav-item
                a#first-step-tab.s-tabs__link.nav-link.active(
                  data-toggle='tab',
                  href='#first-step',
                  role='tab',
                  aria-controls='first-step',
                  aria-selected='true')
                  | Тех. характеристики
              li.s-tabs__item.nav-item
                a#second-step-tab.s-tabs__link.nav-link(
                  data-toggle='tab',
                  href='#second-step',
                  role='tab',
                  aria-controls='second-step',
                  aria-selected='false')
                  | Конструкция
              li.s-tabs__item.nav-item
                a#third-step-tab.s-tabs__link.nav-link(
                  data-toggle='tab',
                  href='#third-step',
                  role='tab',
                  aria-controls='third-step',
                  aria-selected='false')
                  | Тип волокна
              li.s-tabs__item.nav-item
                a#fourth-step-tab.s-tabs__link.nav-link(
                  data-toggle='tab',
                  href='#fourth-step',
                  role='tab',
                  aria-controls='fourth-step',
                  aria-selected='false')
                  | Дополнительно
        .s-tabs__content.tab-content
          #first-step.tab-pane.fade.show.active(
            role='tabpanel',
            aria-labelledby='first-step-tab')
            | Content 1
          #second-step.tab-pane.fade(
            role='tabpanel',
            aria-labelledby='second-step-tab')
            | Content 2
          #third-step.tab-pane.fade(
            role='tabpanel',
            aria-labelledby='third-step-tab')
            | Content 3
          #fourth-step.tab-pane.fade(
            role='tabpanel',
            aria-labelledby='fourth-step-tab')
            | Content 4

  .s-recommended
    .s-recommended__container
      .s-recommended__header
        h2.s-recommended__title Популярные позиции

        .s-recommended__slider-nav
          .s-recommended__slider-btn.s-recommended__slider-btn--prev
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 10 18', width='10', height='18')
              path(d='M.169547 17.8489c.100062.096.236033.1503.378122.1511.142521.0012.279296-.0534.378123-.1511L9.84192 9.36576C9.94306 9.27078 10 9.1412 10 9.00599c0-.1352-.05694-.26478-.15808-.35975L.925792.161313C.7923.0255402.59163-.0301949.40233.0159254.213031.0620457.0652128.202685.0167384.382791-.0317361.562898.0268433.753823.169547.880832L8.70755 9.00599.169547 17.1294c-.1006767.0952-.1572861.2247-.1572861.3597 0 .1351.0566094.2646.1572861.3598z')
          .s-recommended__slider-btn.s-recommended__slider-btn--next
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 10 18', width='10', height='18')
              path(d='M.169547 17.8489c.100062.096.236033.1503.378122.1511.142521.0012.279296-.0534.378123-.1511L9.84192 9.36576C9.94306 9.27078 10 9.1412 10 9.00599c0-.1352-.05694-.26478-.15808-.35975L.925792.161313C.7923.0255402.59163-.0301949.40233.0159254.213031.0620457.0652128.202685.0167384.382791-.0317361.562898.0268433.753823.169547.880832L8.70755 9.00599.169547 17.1294c-.1006767.0952-.1572861.2247-.1572861.3597 0 .1351.0566094.2646.1572861.3598z')

      .s-recommended__slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              +product-card
            .swiper-slide
              +product-card
            .swiper-slide
              +product-card
            .swiper-slide
              +product-card
            .swiper-slide
              +product-card
            .swiper-slide
              +product-card
            .swiper-slide
              +product-card
            .swiper-slide
              +product-card
            .swiper-slide
              +product-card
            .swiper-slide
              +product-card
          .s-recommended__slider-pagination.swiper-pagination

block footer
  +page-footer