a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

[role='button'] {
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  box-sizing: content-box;
  max-width: 100%;
  height: auto;
  border: 0;
}

svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none;
  }

  &:not(:root) {
    overflow: hidden;
  }
}

table,
blockquote,
pre,
address,
figure {
  margin-top: 0;
  margin-bottom: 1rem;
}

address {
  font-style: normal;
}

li {
  line-height: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
  background-color: transparent;
  text-decoration-skip-ink: auto;
}

button {
  background-color: inherit;
  border: none;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid $border-color;
  box-sizing: content-box;
  overflow: visible;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea {
    -webkit-appearance: none;
}

input[type='search'] {
  -webkit-appearance: textfield;
}

button,
input {
  overflow: visible;
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

code,
kbd,
pre,
samp {
  font-family: $font-family--monospace;
}

code {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: $border-radius;
}

kbd {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: $bg-color--shade;
  border-radius: $border-radius;
}

pre {
  display: block;
  width: 100%;
  overflow-x: auto;
  tab-size: 2;
}

body {
  word-break: break-word;
}

p {
  font-feature-settings: 'kern'1, 'liga'1, 'dlig'0, 'calt'1, 'onum'1, 'lnum'0, 'pnum'1, 'tnum'0, 'frac'1;
  margin-top: 1rem;

  @supports (font-variant: common-ligatures) {
    font-feature-settings: normal;
    font-variant: common-ligatures no-discretionary-ligatures contextual oldstyle-nums proportional-nums;
    font-kerning: normal;
  }
}

// Text links
p a,
li a {

  &:hover,
  &:focus {}
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-feature-settings: 'kern'1, 'liga'1, 'dlig'0, 'calt'1, 'onum'1, 'lnum'0, 'pnum'1, 'tnum'0;
  font-style: normal;
  font-weight: 500;

  @supports (font-variant: common-ligatures) {
    font-feature-settings: normal;
    font-variant: common-ligatures no-discretionary-ligatures contextual oldstyle-nums proportional-nums;
    font-kerning: normal;
  }
}

// Heading level 1
h1 {
  font-size: 3.998em;
  line-height: 1.1em;
}

// Heading level 2
h2 {
  font-size: 2.827em;
  line-height: 1.1em;
}

// Heading level 3
h3 {
  font-size: 1.999em;
  line-height: 1.2em;
}

// Heading level 4
h4 {
  font-size: 1.414em;
  line-height: 1.2em;
}

// Heading level 5
h5 {
  font-size: 1em;
  line-height: 1.5em;
}

// Heading level 6
h6 {
  font-size: 1em;
  line-height: 1.5em;
}

// Lists
ul,
ol {

  li {
    font-feature-settings: 'kern', 'liga', 'onum';
    margin-left: 1.3rem;

    @media (min-width: $screen-sm) {
      margin-left: 0;
    }

    @supports (font-variant: common-ligatures) {
      font-feature-settings: normal;
      font-variant: common-ligatures oldstyle-nums;
      font-kerning: normal;
    }

    ol,
    ul {
      margin-left: 2rem;
    }
  }
}

// Ordered lists
ol {
  counter-reset: section;
  list-style-type: none;

  li {

    &::before {
      counter-increment: section;
      content: counters(section, ".");
      font-weight: 700;
    }
  }
}

// Definition lists
dl {

  dt,
  dd {
    font-feature-settings: 'kern', 'onum', 'liga';
    margin-left: 0;

    @supports (font-variant: common-ligatures) {
      font-feature-settings: normal;
      font-variant: common-ligatures oldstyle-nums;
      font-kerning: normal;
    }
  }

  dt {
    font-weight: 700;
  }

  dd+dt {
    padding-top: 0.5rem;
  }
}

// Tables
table {
  font-style: normal;

  tbody,
  caption {
    font-feature-settings: 'kern'1, 'liga'1, 'calt'1, 'onum'0, 'lnum'1, 'zero'1, 'pnum'0, 'tnum'1, 'frac'1;

    @supports (font-variant: common-ligatures) {
      font-feature-settings: normal;
      font-variant: common-ligatures contextual lining-nums slashed-zero tabular-nums diagonal-fractions;
      font-kerning: normal;
    }
  }
}

// Time
time {
  font-feature-settings: 'kern'1, 'liga'1, 'calt'1, 'onum'1, 'lnum'0, 'pnum'1, 'tnum'0;

  @supports (font-variant: common-ligatures) {
    font-feature-settings: normal;
    font-variant: common-ligatures contextual oldstyle-nums proportional-nums;
    font-kerning: normal;
  }
}

// Bold
b,
strong,
.bold {
  font-weight: bold;
}

// Italic
em,
i,
.italic {
  font-style: italic;
}

// Caption and inline small text
small,
.caption {
  font-style: normal;
  font-size: 0.707em;
}

// Letter space capitals
.upper {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-feature-settings: 'kern';

  @supports (font-kerning: normal) {
    font-feature-settings: normal;
    font-kerning: normal;
  }
}

// Real small caps
abbr,
.small-caps {
  text-transform: uppercase;
  font-feature-settings: 'kern'1, 'liga'1, 'calt'1, 'smcp'1, 'c2sc'1, 'onum'1, 'lnum'0, 'pnum'1, 'tnum'0;
  letter-spacing: 0.075em;

  @supports (font-variant: common-ligatures) {
    font-feature-settings: normal;
    font-variant: common-ligatures contextual all-small-caps oldstyle-nums proportional-nums;
    font-kerning: normal;
  }
}

// Supercript numerals
sup,
.sup {
  font-feature-settings: 'kern'1, 'liga'1, 'calt'1, 'dlig'0, 'sups'1, 'onum'1, 'lnum'0, 'pnum'1, 'tnum'0;

  @supports (font-variant-position: super) {
    font-feature-settings: normal;
    font-variant: common-ligatures contextual no-discretionary-ligatures oldstyle-nums proportional-nums;
    font-kerning: normal;
    font-variant-position: super;
  }
}

// Subscript numerals
sub,
.sub {
  font-feature-settings: 'kern'1, 'liga'1, 'calt'1, 'dlig'0, 'subs'1, 'onum'1, 'lnum'0, 'pnum'1, 'tnum'0;

  @supports (font-variant-position: sub) {
    font-feature-settings: normal;
    font-variant: common-ligatures contextual no-discretionary-ligatures oldstyle-nums proportional-nums;
    font-kerning: normal;
    font-variant-position: sub;
  }
}

// Consistent height numbers
.lining-numerals {
  font-feature-settings: 'lnum', 'kern';

  @supports (font-variant: lining-nums) {
    font-feature-settings: normal;
    font-variant: lining-nums;
    font-kerning: normal;
  }
}

// Ascending and descending numbers
.oldstyle-numerals {
  font-feature-settings: 'onum', 'kern';

  @supports (font-variant: oldstyle-nums) {
    font-feature-settings: normal;
    font-variant: oldstyle-nums;
    font-kerning: normal;
  }
}