// Width
$screen-xs:                   576px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1440px;
$screen-xxl:                  1920px;

// Project colors
$text-color:                  #1e3f63;
$text-color--lighter:         lighen($text-color, 25%);
$bg-color:                    #fff;
$bg-color--shade:             #f0f7f7;
$bg-color--dark:              #06131d;
$primary-color:               #307fe2;
$secondary-color:             #04cc84;

// Semantic colors
$success:                     #16c98d;
$warning:                     #ffc83f;
$danger:                      #fa5e5b;

// Font
$font-family: Montserrat,
system-ui,
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
'Helvetica Neue',
sans-serif;

$font-family--monospace: Menlo,
Monaco,
Consolas,
'Liberation Mono',
'Courier New',
nospace;

// Misc
$border-color: currentColor;
$border-radius: 0.1em;
$opacity: 0.5;
$box-shadow: 0 15px 60px -15px rgba($text-color, 0.25);

$transition-timing: cubic-bezier(0.9, .01, .01, 1);
$transition-timing--linear: cubic-bezier(0.165, 0.84, 0.44, 1);

:root {
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

// Layout mixins
@mixin section-padding {
  padding: 2.25rem 1rem;

  @media only screen and (min-width: $screen-sm) {
    padding: 4.5rem 1rem;
  }
}

@mixin section-container {
  width: 100%;
  max-width: 1300px;
  margin: auto;
}

@mixin section-title {
  font-size: 1.414em;
  line-height: 1.2em;
  margin-bottom: 2.25rem;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    background-color: $primary-color;
    height: 1px;
    width: 45px;
    bottom: -0.75rem;
    left: 0;
  }

  @media only screen and (min-width: $screen-lg) {
    font-size: 1.999em;
    line-height: 1.2em;
    text-indent: -0.05em;
    margin-bottom: 3rem;
  }
}