mixin filter()

  .s-filter
    span.s-filter__title Фильтр
    button.s-filter__mobile-toggler
      | Фильтр
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 14 8', width='12', height='7')
        path(fill-rule='evenodd', d='M1.47237.233812L6.99208 5.78645 12.5423.233812c.7319-.750357 1.9822.480228 1.2198 1.230588l-6.25159 6.333c-.27446.27013-.73189.27013-.97586 0L.222053 1.4644C-.509842.71404.740479-.516545 1.47237.233812z', clip-rule='evenodd')
    ul.s-filter__list
      li
        a(
          href="#item-1",
          data-toggle="collapse",
          role="button",
          aria-expanded="false",
          aria-controls="item-1"
        ) Lorem ipsum
        #item-1.collapse.multi-collapse
          ul
            li
              a(href='/') Lorem, ipsum dolor.
            li
              a(href='/') Lorem ipsum dolor sit amet.
            li
              a(href='/') Lorem, ipsum.

      li
        a(
          href="#item-2",
          data-toggle="collapse",
          role="button",
          aria-expanded="false",
          aria-controls="item-2"
        ) Lorem, ipsum dolor.
        #item-2.collapse.multi-collapse
          ul
            li
              a(href='/') Sub-item 1
            li
              a(href='/') Sub-item 2
            li
              a(href='/') Sub-item 3
            li
              a(href='/') Sub-item 4
      li
        a(
          href="#item-3",
          data-toggle="collapse",
          role="button",
          aria-expanded="false",
          aria-controls="item-3"
        ) Lorem, ipsum dolor.
        #item-3.collapse.multi-collapse
          ul
            li
              a(href='/') Sub-item 1
            li
              a(href='/') Sub-item 2
            li
              a(href='/') Sub-item 3

      li
        a(href='/') Lorem, ipsum.
      li
        a(href='/') Lorem ipsum dolor sit.
      li
        a(href='/') Lorem, ipsum dolor.