.s-filter {
  margin-bottom: 1rem;
  border-top: 1px solid rgba($text-color, 0.25);
  border-bottom: 1px solid rgba($text-color, 0.25);
  font-size: 0.707em;
  line-height: 1.5em;

  @media only screen and (min-width: $screen-sm) {
    border-top: none;
    border-bottom: none;
  }

  &__title {
    display: none;

    @media only screen and (min-width: $screen-sm) {
      display: block;
      margin-bottom: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-weight: 500;
    }
  }

  &__mobile-toggler {
    color: $text-color;
    padding: 0.75rem 0;
    font-weight: 500;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: all 0.25s var(--ease-out-quad);

    @media only screen and (min-width: $screen-sm) {
      display: none;
    }

    svg {
      display: inline-block;
      vertical-align: middle;
      margin-left: 1rem;
      transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 1.5);
    }

    &:hover,
    &:focus {
      outline: none;
    }

    &--is-active {

      svg {
        transform: rotate3d(0, 0, 1, 180deg);
      }
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    border-top: 1px solid rgba($text-color, 0.25);

    @media only screen and (min-width: $screen-sm) {
      display: block;
      border-top: none;
    }

    > li {
      margin: 0;
      padding: 0;

      > a {
        display: block;
        padding: 0.5rem 0;
        color: currentColor;
        position: relative;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          margin: 0;
          padding: 0;

          a {
            display: block;
            padding: 0.5rem 1rem;
            opacity: 0.75;
            color: currentColor;
          }
        }
      }
    }

    &--is-open {
      display: block;
    }
  }
}