.s-hamburger {
  width: 37px;
  height: 37px;
  padding: 0;
  position: relative;
  cursor: pointer;
  display: inline-block;
  background-color: $secondary-color;
  margin-left: 0.5rem;
  border-radius: $border-radius;

  @media only screen and (min-width: $screen-xs) {
    display: none;
  }

   &::after {
     position: absolute;
     content: '';
     top: -0.5rem;
     right: -0.5rem;
     bottom: -0.5rem;
     left: -0.5rem;
   }

  span {
    display: inline-block;
    width: 22px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    border-radius: 1em;

    &::before,
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 22px;
      height: 1px;
      border-radius: 1em;
      left: 0;
      background-color: inherit;
    }

    &::before {
      top: -0.4rem;
    }

    &::after {
      bottom: -0.4rem;
    }
  }
}